<h1>Welcome to express upload</h1>
<form enctype='multipart/form-data' action='/upload' method='POST'>
  <input type="text" name="username" id="usernameid"/>
  <input type="file" name='image'/>
  <button type="submit">Submit</button>
</form>
{{!-- <ul>
        {{#each users}}
        <li>{{this}}</li>
        {{/each}}
</ul> --}}